# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
env/
venv/
ENV/
.env
.venv

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
.Python
*.manifest
*.spec

# Project-specific directories
dst/
src/
tmp/

# Compressed files
*.tar
*.rar
*.zip
*.gz
*.tgz
*.bz2
*.7z

# Models and Data
*.h5
*.pd
*.ckpt
*.pth
*.pb
*.pt
*.tfrecord
*.record
*.tfrecords
*.weights

# Logs
logs/
*.log
.history

# System Files
.DS_Store
Thumbs.db
